@media (min-width: 1025px) {
    #home_page_first_intro > div:first-child,
    #walkman_creator_words > div:first-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home_page_second_intro > div:last-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }}